@page
@model EmmanuelJavaScriptWeb.Pages.Js_Page.Js_MathModel
@{
    ViewData["Title"] = "JavaScript Math Object";
}
<div class="container">
    <h1>JavaScript <span class="color_h1">Math Object</span></h1>
    <hr />
    <div class="w3-info">
        <p class="intro">
            The JavaScript Math object allows you to perform mathematical tasks on
            numbers.
        </p>
    </div>

    <div class="w3-example">
        <h3>Example</h3>
        <div class="w3-code notranslate jsHigh">
            Math.PI;
        </div>
    </div>

    <hr>
    <h2>The Math Object</h2>
    <p>Unlike other objects, the Math object has no constructor.</p>
    <p>The Math object is static.</p>
    <p>All methods and properties can be used without creating a Math object first.</p>
    <hr>
    <h2>Math Properties (Constants)</h2>
    <p>The syntax for any Math property is : <code class="w3-codespan">Math.<i>property</i></code>.</p>

    <p>JavaScript provides 8 mathematical constants that can be accessed as Math properties:</p>

    <div class="w3-example">
        <h3>Example</h3>
        <div class="w3-code notranslate jsHigh">
            Math.E&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;// returns Euler's number<br>
            Math.PI&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;// returns PI<br>
            Math.SQRT2&nbsp;&nbsp;&nbsp;&nbsp;// returns the square root of 2<br>
            Math.SQRT1_2&nbsp;&nbsp;// returns the square root of 1/2<br>
            Math.LN2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;// returns the natural logarithm of 2<br>
            Math.LN10&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;// returns the natural logarithm of 10<br>
            Math.LOG2E&nbsp;&nbsp;&nbsp;&nbsp;// returns base 2 logarithm of E<br>
            Math.LOG10E&nbsp;&nbsp;&nbsp;// returns base 10 logarithm of E
        </div>
    </div>


    <hr>
    <h2>Math Methods</h2>
    <p>The syntax for Math any methods is : <code class="w3-codespan">Math.<i>method</i>(<i>number</i>)</code></p>

    <hr>
    <h2>Number to Integer</h2>
    <p>There are 4 common methods to round a number to an integer:</p>
    <table class="ws-table-all">
        <tr>
        <tr><td>Math.round(x)</td><td>Returns x rounded to its nearest integer</td></tr>
        <tr>
        <tr><td>Math.ceil(x)</td><td>Returns x rounded up to its nearest integer</td></tr>
        <tr>
        <tr><td>Math.floor(x)</td><td>Returns x rounded down to its nearest integer</td></tr>
        <tr>
        <tr><td>Math.trunc(x)</td><td>Returns the integer part of x (<a href="js_es6.asp">new in ES6</a>)</td></tr>
    </table>
    <hr>
    <h2>Math.round()</h2>
    <p><code class="w3-codespan">Math.round(x)</code> returns the nearest integer:</p>

    <div class="w3-example">
        <h3>Examples</h3>
        <div class="w3-code notranslate jsHigh">
            Math.round(4.6);<br>
        </div>
        <div class="w3-code notranslate jsHigh">
            Math.round(4.5);<br>
        </div>
        <div class="w3-code notranslate jsHigh">
            Math.round(4.4);<br>
        </div>
    </div>
    <hr>

    <h2>Math.ceil()</h2>
    <p><code class="w3-codespan">Math.ceil(x)</code> returns the value of x rounded <strong>up</strong> to its nearest integer:</p>

    <div class="w3-example">
        <h3>Example</h3>
        <div class="w3-code notranslate jsHigh">
            Math.ceil(4.9);<br>
            Math.ceil(4.7);<br>
            Math.ceil(4.4);<br>
            Math.ceil(4.2);<br>
            Math.ceil(-4.2);<br>
        </div>
    </div>
    <hr>

    <h2>Math.floor()</h2>
    <p><code class="w3-codespan">Math.floor(x)</code> returns the value of x rounded <strong>down</strong> to its nearest integer:</p>

    <div class="w3-example">
        <h3>Example</h3>
        <div class="w3-code notranslate jsHigh">
            Math.floor(4.9);<br>
            Math.floor(4.7);<br>
            Math.floor(4.4);<br>
            Math.floor(4.2);<br>
            Math.floor(-4.2);<br>
        </div>
    </div>
    <hr>
    <h2>Math.trunc()</h2>
    <p><code class="w3-codespan">Math.trunc(x)</code> returns the integer part of x:</p>

    <div class="w3-example">
        <h3>Example</h3>
        <div class="w3-code notranslate jsHigh">
            Math.trunc(4.9);<br>
            Math.trunc(4.7);<br>
            Math.trunc(4.4);<br>
            Math.trunc(4.2);<br>
            Math.trunc(-4.2);<br>
        </div>
    </div>

    <hr>
    <h2>Math.sign()</h2>
    <p><code class="w3-codespan">Math.sign(x)</code> returns if x is negative, null or positive:</p>

    <div class="w3-example">
        <h3>Example</h3>
        <div class="w3-code notranslate jsHigh">
            Math.sign(-4);<br>
            Math.sign(0);<br>
            Math.sign(4);<br>
        </div>
    </div>

    <div class="w3-note">
        <p>Math.trunc() and Math.sign() were added to <a href="js_es6.asp">JavaScript 2015 - ES6</a>.</p>
    </div>
    <hr>

    <h2>Math.pow()</h2>
    <p><code class="w3-codespan">Math.pow(x, y)</code> returns the value of x to the power of y:</p>

    <div class="w3-example">
        <h3>Example</h3>
        <div class="w3-code notranslate jsHigh">
            Math.pow(8, 2);
        </div>
    </div>

    <hr>
    <h2>Math.sqrt()</h2>
    <p><code class="w3-codespan">Math.sqrt(x)</code> returns the square root of x:</p>

    <div class="w3-example">
        <h3>Example</h3>
        <div class="w3-code notranslate jsHigh">
            Math.sqrt(64);
        </div>
    </div>

    <hr>
    <h2>Math.abs()</h2>
    <p><code class="w3-codespan">Math.abs(x)</code> returns the absolute (positive) value of x:</p>

    <div class="w3-example">
        <h3>Example</h3>
        <div class="w3-code notranslate jsHigh">
            Math.abs(-4.7);
        </div>
    </div>
    <hr>

    <h2>Math.sin()</h2>
    <p><code class="w3-codespan">Math.sin(x)</code> returns the sine (a value between -1 and 1) of the angle x (given in radians).</p>
    <p>If you want to use degrees instead of radians, you have to convert degrees to radians:</p>
    <p>Angle in radians = Angle in degrees x PI / 180.</p>

    <div class="w3-example">
        <h3>Example</h3>
        <div class="w3-code notranslate jsHigh">
            Math.sin(90 * Math.PI / 180);&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;// returns 1 (the sine of 90 degrees)
        </div>
    </div>
    <hr>

    <h2>Math.cos()</h2>
    <p><code class="w3-codespan">Math.cos(x)</code> returns the cosine (a value between -1 and 1) of the angle x (given in radians).</p>
    <p>If you want to use degrees instead of radians, you have to convert degrees to radians:</p>
    <p>Angle in radians = Angle in degrees x PI / 180.</p>

    <div class="w3-example">
        <h3>Example</h3>
        <div class="w3-code notranslate jsHigh">
            Math.cos(0 * Math.PI / 180);&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;// returns 1 (the cos of 0 degrees)
        </div>
    </div>
    <hr>
    <h2>Math.min() and Math.max()</h2>
    <p><code class="w3-codespan">Math.min()</code> and <code class="w3-codespan">Math.max()</code> can be used to find the lowest or highest value in a list of arguments:</p>

    <div class="w3-example">
        <h3>Example</h3>
        <div class="w3-code notranslate jsHigh">
            Math.min(0, 150, 30, 20, -8, -200);
        </div>
    </div>

    <div class="w3-example">
        <h3>Example</h3>
        <div class="w3-code notranslate jsHigh">
            Math.max(0, 150, 30, 20, -8, -200);
        </div>
    </div>
    <hr>

    <h2>Math.random()</h2>
    <p>
        <code class="w3-codespan">Math.random()</code> returns a random number between 0 (inclusive), and 1
        (exclusive):
    </p>

    <div class="w3-example">
        <h3>Example</h3>
        <div class="w3-code notranslate jsHigh">
            Math.random();
        </div>
    </div>

    <div class="w3-panel w3-note">
        <p>You will learn more about <code class="w3-codespan">Math.random()</code> in the next chapter of this tutorial.</p>
    </div>

    <hr>
    <h2>The Math.log() Method</h2>
    <p><code class="w3-codespan">Math.log(x)</code> returns the natural logarithm of x.</p>
    <p>The natural logarithm returns the time needed to reach a certain level of growth:</p>

    <div class="w3-example">
        <h3>Examples</h3>
        <div class="w3-code notranslate jsHigh">
            Math.log(1);
        </div>
        <div class="w3-code notranslate jsHigh">
            Math.log(2);
        </div>
        <div class="w3-code notranslate jsHigh">
            Math.log(3);
        </div>
    </div>

    <p>Math.E and Math.log() are twins.</p>
    <div class="w3-example">
        <p>How many times must we multiply Math.E to get 10?</p>
        <div class="w3-code notranslate jsHigh">
            Math.log(10);
        </div>
    </div>

    <hr>
    <h2>The Math.log2() Method</h2>
    <p><code class="w3-codespan">Math.log2(x)</code> returns the base 2 logarithm of x.</p>

    <div class="w3-example">
        <p>How many times must we multiply 2 to get 8?</p>
        <div class="w3-code notranslate jsHigh">
            Math.log2(8);
        </div>
    </div>

    <hr>
    <h2>The Math.log10() Method</h2>
    <p><code class="w3-codespan">Math.log10(x)</code> returns the base 10 logarithm of x.</p>
    <div class="w3-example">
        <p>How many times must we multiply 10 to get 1000?</p>
        <div class="w3-code notranslate jsHigh">
            Math.log10(1000);
        </div>
    </div>
    <hr>

    <h2>JavaScript Math Methods</h2>

    <table class="ws-table-all notranslate">
        <tr>
            <th style="width:20%">Method</th>
            <th>Description</th>
        </tr>
        <tr>
            <td><a href="#">abs(x)</a></td>
            <td>Returns the absolute value of x</td>
        </tr>
        <tr>
            <td><a href="#">acos(x)</a></td>
            <td>Returns the arccosine of x, in radians</td>
        </tr>
        <tr>
            <td><a href="#">acosh(x)</a></td>
            <td>Returns the hyperbolic arccosine of x</td>
        </tr>
        <tr>
            <td><a href="/jsref/jsref_asin.asp">asin(x)</a></td>
            <td>Returns the arcsine of x, in radians</td>
        </tr>
        <tr>
            <td><a href="#">asinh(x)</a></td>
            <td>Returns the hyperbolic arcsine of x</td>
        </tr>
        <tr>
            <td><a href="#">atan(x)</a></td>
            <td>Returns the arctangent of x as a numeric value between -PI/2 and PI/2 radians</td>
        </tr>
        <tr>
            <td><a href="#">atan2(y, x)</a></td>
            <td>Returns the arctangent of the quotient of its arguments</td>
        </tr>
        <tr>
            <td><a href="#">atanh(x)</a></td>
            <td>Returns the hyperbolic arctangent of x</td>
        </tr>
        <tr>
            <td><a href="#">cbrt(x)</a></td>
            <td>Returns the cubic root of x</td>
        </tr>
        <tr>
            <td><a href="#">ceil(x)</a></td>
            <td>Returns x, rounded upwards to the nearest integer</td>
        </tr>
        <tr>
            <td><a href="#">cos(x)</a></td>
            <td>Returns the cosine of x (x is in radians)</td>
        </tr>
        <tr>
            <td><a href="#">cosh(x)</a></td>
            <td>Returns the hyperbolic cosine of x</td>
        </tr>
        <tr>
            <td><a href="#">exp(x)</a></td>
            <td>Returns the value of E<sup>x</sup></td>
        </tr>
        <tr>
            <td><a href="#">floor(x)</a></td>
            <td>Returns x, rounded downwards to the nearest integer</td>
        </tr>
        <tr>
            <td><a href="#">log(x)</a></td>
            <td>Returns the natural logarithm (base E) of x</td>
        </tr>
        <tr>
            <td><a href="#">max(x, y, z, ..., n)</a></td>
            <td>Returns the number with the highest value</td>
        </tr>
        <tr>
            <td><a href="#">min(x, y, z, ..., n)</a></td>
            <td>Returns the number with the lowest value</td>
        </tr>
        <tr>
            <td><a href="#">pow(x, y)</a></td>
            <td>Returns the value of x to the power of y</td>
        </tr>
        <tr>
            <td><a href="/jsref/jsref_random.asp">random()</a></td>
            <td>Returns a random number between 0 and 1</td>
        </tr>
        <tr>
            <td><a href="#">round(x)</a></td>
            <td>Rounds x to the nearest integer</td>
        </tr>
        <tr>
            <td><a href="#">sign(x)</a></td>
            <td>Returns if x is negative, null or positive (-1, 0, 1)</td>
        </tr>
        <tr>
            <td><a href="#">sin(x)</a></td>
            <td>Returns the sine of x (x is in radians)</td>
        </tr>
        <tr>
            <td><a href="#">sinh(x)</a></td>
            <td>Returns the hyperbolic sine of x</td>
        </tr>
        <tr>
            <td><a href="#">sqrt(x)</a></td>
            <td>Returns the square root of x</td>
        </tr>
        <tr>
            <td><a href="#">tan(x)</a></td>
            <td>Returns the tangent of an angle</td>
        </tr>
        <tr>
            <td><a href="#">tanh(x)</a></td>
            <td>Returns the hyperbolic tangent of a number</td>
        </tr>
        <tr>
            <td><a href="#">trunc(x)</a></td>
            <td>Returns the integer part of a number (x)</td>
        </tr>
    </table>
</div>

<div class="d-flex justify-content-between mt-3">
    <a class="btn btn-sm btn-success" asp-page="JS-Array-Methods">&#10094; Previous</a>
    <a class="btn btn-sm btn-success" asp-page="Js-Random">Next &#10095;</a>
</div>